# safe env example file
BASE_URL=https://www.automationexercise.com
TEST_EMAIL=your_email@example.com
TEST_PASSWORD=your_password
TEST_USERNAME=your_name
BROWSER=chromium
HEADLESS=false
SLOW_MO=0
TIMEOUT=30000
